
/*More breathing room at the end of an article*/
.body-inner {
	padding-bottom: 10%;
}

/* Unavailable sidebar items */
.book-summary ul.summary li b {
	color: #939da3;
	font-weight: inherit;
}

.book-summary ul.summary li span {
	color: #939da3;
}
